<!-- <app-inicial></app-inicial>
<app-alumnos></app-alumnos> -->
<div class="container my-2">
  <div class="row">
    <div class="col d-flex gap-2" id="dados">
      <div class="card" style="width: 26rem;">
        <div class="card-header">
          <h3>Dados</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col d-flex justify-content-center aling-items-center">
              <app-dado [tiempo]="time" #dado1></app-dado>
              <app-dado [tiempo]="time" #dado2></app-dado>
              <app-dado [tiempo]="time" #dado3></app-dado>
              <app-dado [tiempo]="time" #dado4></app-dado>
          </div>
          <div class="row mb-1">
            <div class="col d-flex justify-content-center align-items-center gap-2">
              <button class="btn btn-info" id="todos"  (click)="tirarTodos()">Tirar todos</button>
              <button class="btn btn-info" id="todos2" (click)="tirarTodos2([dado1,dado2,dado3,dado4])">Tirar todos</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-center align-items-center gap-2">
        <input class="form-control" type="number" [formControl]="tCambio" placeholder="velocidad a la que giran"/>
        <button class="btn btn-success" id="cambioVelo" (click)="cambiarVelocidad()">Aplicar</button>
      </div>
    </div>
    <div class="card" style="width: 26rem;">
      <div class="card-header">
        <h3>Inputs y modificación de valores</h3>
      </div>
      <div class="card-body">
        <div class="col d-flex flex-column justify-content-center align-items-center">
          <app-valores [minimo]="1" [maximo]="10" #selector1></app-valores>
          <div class="row">
            <div class="col gap-2 d-flex">
              <button class="btn btn-warning" (click)="fijarSelector(1,selector1)">Fijar en 1</button>
              <button class="btn btn-warning" (click)="fijarSelector(5,selector1)">Fijar en 5</button>
              <button class="btn btn-warning" (click)="fijarSelector(10,selector1)">Fijar en 10</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card justify-content-center" style="width: 26rem;">
      <div class="card-header">
        <h3>Modificación ARIA</h3>
      </div>
      <div class="card-body">
        <div class="col d-flex flex-column align-items-center justify-content-center gap-2">
          <div class="row justify-content-center">
            <div class="col">
              <app-barra-aria [value]="currentProgress" [max]="maximo"></app-barra-aria>
            </div>
          </div>
          <button class="btn btn-dark" (click)="increaseProgress()">Aumentar progreso</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h3>Administración de artículos</h3>
        </div>
        <div class="card-body">
          <app-formulario1></app-formulario1>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Formulario reactivo</h3>
        </div>
        <div class="card-body">
          <app-form-reactivo></app-form-reactivo>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Prueba de Angular Materials</h3>  
        </div>
        <div class="card-body">
          <div class="row gap-2">
            <app-p-material></app-p-material>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Formulario reactivo con Angular Material</h3>
        </div>
        <div class="card-body">
          <app-formulario-matrial></app-formulario-matrial>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-3">
      <app-card1 
      nombre = "Mario"
      especie = "Doverman"
      mialt="Muy bueno"
      ></app-card1>
    </div>
    <div class="col-3">
      <app-card1 
      nombre = "Pastelito"
      especie = "Chihuahua"
      mialt="Muy malo"
      ></app-card1>
    </div>
    <div class="col-3">
      <app-card1 
      nombre = "Dogger"
      especie = "Ratonero"
      mialt="No caza ratones"
      ></app-card1>
    </div>
    <div class="col-3">
      <app-card1 
      nombre = "Patricio"
      especie = "No se sabe"
      mialt = "Solo duerme"
      megusta = "20"
      ></app-card1>
    </div>
  </div>
</div>


<!-- <div>
  <h1>Prueba de la componente cronometro</h1>
  <app-cronometro [inicio]="15" (multiplo10)="actualizar($event)"></app-cronometro>
  <h2>Evento</h2>
  <h3>{{mensaje}}</h3>
</div> -->


<router-outlet />